.movies-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.movies-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  padding: 20px;
  list-style-type: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 800px;
}
