.company-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.span-company {
  font-weight: bold;
}

.mail-style {
  text-decoration: underline;
  color: blue;
}
